div {
	.container {
		background-image: url('/images/general.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		margin:  -100px 0 0;
		padding: 0;
		width: 100vw;
	}
}
