/******************************************************************

Typography

******************************************************************/
// Web fonts definitions goes here as well
/* ===============================
     imports
   =============================== */
@font-face {
    font-family: "Signet";
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: "Signet-Italic";
    src: url('fonts/Lato-RegularItalic.ttf');
}


/* ===============================
     fonts
   =============================== */
$font: "Signet-Italic", Helvetica;
$font-italic: Cambria, Times New Roman, Times, serif;
$font-bold: Helvetica, Arial, sans-serif;
$font-semibold: Helvetica, Arial, sans-serif;
$font-extrabold: Helvetica, Arial, sans-serif;
$font-extralightitalic: Helvetica, Arial, sans-serif;
/* ===============================
     sizes
   =============================== */
$large: 71px;
$medium: 20px;
$small: 14px;
/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900; /*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

p {
	-ms-word-wrap: break-word;
	word-break: break-word; //non-standart css for webkit
	word-wrap: break-word;
	// cleaning up the ragged lines and breaks
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	// sets a minimum number of characters before and after the break
	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
	@include dyn-size-font(6.5);
	font-weight: 500;
}
