<div class="container noclist">
    <section>
        <h1>Events</h1>
        <table>
            <tr ng-repeat="e in events">
                <td><a ng-href="/#/welcome/{{e.visit_id}}">{{e.customer_name}}</a></td>
                <td><a ng-href="/#/agenda/{{e.visit_id}}">{{e.visit_id}}</a></td>
                <td>{{e.event}}</td>
                <td>{{e.event_start |  date:"MM/dd/yyyy h:mma"}}</td>
                <td>{{e.event_end | date:"MM/dd/yyyy h:mma"}}</td>
            </tr>
        </table>
    </section>

</div>
